body{
	font-size: 16px;
}
#main{
	width:100%;
}
.syncbtn{
	border: 1px solid #333;
	display: block;
	padding: 1em;
	max-width: 7em;
	margin: 1em 0 0 1em;
}
.syncbtn:active{
	background-color: rgb(143,183,197);
}
.syncbtn_on{
	background-color: rgb(143,183,197);
}